@model IEnumerable<Band>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> all the bands
    </h2>

@foreach(var band in Model)
{
    <h1>@band.BandName</h1>
    <H1>@band.BandMembers</H1>
}   